@import "tailwindcss";
@import "./fonts/WEB/css/general-sans.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-white: #ffffff;
  --primary-color: #006fe8;
  --color-nav-text: #8c97a8;
  --color-gray-900: #1d2026;
  --color-border-button: #6c788f;
  --shadow-header: 0px 1px 3px rgba(0, 0, 0, 0.1);
  --font-general-sans: "GeneralSans-Variable", "GeneralSans-Regular",
    "GeneralSans-Medium", "GeneralSans-Bold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--color-white);
  --color-nav-text: var(--color-nav-text);
  --color-primary-color: var(--primary-color);
  --color-gray-900: var(--color-gray-900);
  --color-border-button: var(--color-border-button);
  --shadow-header: var(--shadow-header);
  --font-sans: var(--font-general-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans);
}

@keyframes flyFromBottom {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: var(--bird-final-opacity, 1);
  }
}

@keyframes flyDiagonalBottomLeftToTopRight {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    transform: translate(calc(100vw + 100px), calc(-30vh - 50px));
    opacity: 0;
    display: none;
  }
}

@keyframes flyDiagonalBottomRightToTopLeft {
  from {
    transform: translate(0, 0);
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  to {
    transform: translate(calc(-100vw - 100px), calc(-30vh - 50px));
    opacity: 0;
    display: none;
  }
}

.animate-fly-from-bottom {
  --bird-final-opacity: 1;
  animation: flyFromBottom 1.5s ease-out forwards;
  opacity: 0;
}

.animate-fly-from-bottom.opacity-60 {
  --bird-final-opacity: 0.6;
}

.animate-fly-diagonal-left {
  animation: flyDiagonalBottomLeftToTopRight 4s ease-out forwards;
  opacity: 0;
}

.animate-fly-diagonal-right {
  animation: flyDiagonalBottomRightToTopLeft 4s ease-out forwards;
  opacity: 0;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slideInFromRight 0.3s ease-out forwards;
}

.animate-slide-in-top {
  animation: slideInFromTop 0.3s ease-out forwards;
}
