@import "tailwindcss";
@import "./fonts/WEB/css/general-sans.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-white: #ffffff;
  --primary-color: #006FE8;
  --color-nav-text: #8c97a8;
  --color-gray-900: #1D2026;
  --color-border-button: #6C788F;
  --shadow-header: 0px 1px 3px rgba(0, 0, 0, 0.1);
  --font-general-sans: 'GeneralSans-Variable', 'GeneralSans-Regular', 'GeneralSans-Medium', 'GeneralSans-Bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--color-white);
  --color-nav-text: var(--color-nav-text);
  --color-primary-color: var(--primary-color);
  --color-gray-900: var(--color-gray-900);
  --color-border-button: var(--color-border-button);
  --shadow-header: var(--shadow-header);
  --font-sans: var(--font-general-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans);
}
